# Dictionary

In [ ]:
# my_dictionary = { key: value, key: value, key:value }

In [2]:
my_dictionary = { "name": "Abdul Fatir", "age": 27, "gender": "male" }
len(my_dictionary)

3

## Adding a new key to an existing dictionary

In [3]:
my_dictionary["email"] = "abcd@gmail.com"

In [4]:
my_dictionary

{'name': 'Abdul Fatir', 'age': 27, 'gender': 'male', 'email': 'abcd@gmail.com'}

## Accessing a key value from dictionary

In [9]:
my_dictionary['name']

'Abdul Fatir'

In [11]:
my_dictionary['age']

27

In [12]:
my_dictionary['email']

'abcd@gmail.com'

In [14]:
new_dictionary = { 1: 'Asad', 2: 'Saad'}

In [15]:
new_dictionary[1]

'Asad'

In [17]:
new_dictionary[2]

'Saad'

## Deleting a key value

In [20]:
del new_dictionary[1]
new_dictionary

KeyError: 1

## Updating a key value

In [21]:
my_dictionary

{'name': 'Abdul Fatir', 'age': 27, 'gender': 'male', 'email': 'abcd@gmail.com'}

In [22]:
my_dictionary['email'] = 'efgh@gmail.com'

In [23]:
my_dictionary

{'name': 'Abdul Fatir', 'age': 27, 'gender': 'male', 'email': 'efgh@gmail.com'}

In [24]:
a_dictionary = { 1: 100, 2: 200, 3: 300, 4:400, 1: 1000 }
a_dictionary

{1: 1000, 2: 200, 3: 300, 4: 400}

In [25]:
# Check if a key exist in a dictionary
1 in a_dictionary

True

In [27]:
'age' in my_dictionary

True

In [28]:
'Age' in my_dictionary

False

## Iterating over a dictionary

In [31]:
for key in my_dictionary.keys():
    print(f"Key: {key}")

Key: name
Key: age
Key: gender
Key: email

In [30]:
for value in my_dictionary.values():
    print(f"Value: {value}")

Value: Abdul Fatir
Value: 27
Value: male
Value: efgh@gmail.com

In [34]:
for key, value in my_dictionary.items():
    print(f"{key}: {value}")

name: Abdul Fatir
age: 27
gender: male
email: efgh@gmail.com

## Creating a list of dictionary

In [36]:
students = []
students.append({'Name': 'Ali', 'Class': 'AI', 'Campus': 'Campus 1'})
students

[{'Name': 'Ali', 'Class': 'AI', 'Campus': 'Campus 1'}]

In [37]:
students.append({'Name': 'Jinah', 'Class': 'AI', 'Campus': 'Campus 2'})
students

[{'Name': 'Ali', 'Class': 'AI', 'Campus': 'Campus 1'},
 {'Name': 'Jinah', 'Class': 'AI', 'Campus': 'Campus 2'}]

## Accessing info from list of dictionaries

In [39]:
for student in students:
    print(student)
    print(student['Name'])

{'Name': 'Ali', 'Class': 'AI', 'Campus': 'Campus 1'}
Ali
{'Name': 'Jinah', 'Class': 'AI', 'Campus': 'Campus 2'}
Jinah

## Creating a dictionary of lists

In [40]:
employee = { 'Name': 'Abdul', 'ChildrenNames': ['Fatimah', 'Umar'] }

In [41]:
employee['ChildrenNames']

['Fatimah', 'Umar']

In [42]:
employee['ChildrenNames'][0]

'Fatimah'

In [43]:
employee['ChildrenNames'][1]

'Umar'

## Creating a dictionary of dictionaries

In [44]:
employee = { 'Name': 'Abdul Fatir', 'Children': { 'Fatimah': { 'Age': 10, 'Class': '6' }, 'Umar': { 'Age': 8, 'Class': '4' }}}
employee

{'Name': 'Abdul Fatir',
 'Children': {'Fatimah': {'Age': 10, 'Class': '6'},
  'Umar': {'Age': 8, 'Class': '4'}}}

In [45]:
employee['Children']['Fatimah']

{'Age': 10, 'Class': '6'}

In [46]:
# You can also use print() to display
print(employee['Children']['Fatimah'])

{'Age': 10, 'Class': '6'}

In [47]:
employee['Children']['Umar']['Age']

8