In [1]:
friends = ['Hamza', 'Fatima', 'Azhar', 'Laiba', 'Ali', 'Zoya']
# index      0         1         2       3        4      5
friends

['Hamza', 'Fatima', 'Azhar', 'Laiba', 'Ali', 'Zoya']

In [ ]:
number = [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list_float = [2.43, 98.67, 7.45, 45.65]

In [ ]:
mix = ['Ahsan', 2, 4.56, 6.87, True, 'Maham', 56, False]

In [4]:
cities = ['Rawalpindi', 'Multan', 'Lahore', 'Karachi']

In [ ]:
# how to access the members

In [2]:
friends[1]

'Fatima'

In [5]:
cities[3]

'Karachi'

In [7]:
fruits = []

In [8]:
len(fruits)

0

In [9]:
len(cities)

4

In [10]:
# adding a member to the list
fruits.append("apple")

In [12]:
fruits

['apple']

In [15]:
fruits.append('orange')
fruits

['apple', 'orange', 'orange', 'orange']

In [16]:
fruits.insert(2, 'banana')
fruits

['apple', 'orange', 'banana', 'orange', 'orange']

In [18]:
fruits.extend(["cherry", "blueberry"])
fruits

['apple',
 'orange',
 'banana',
 'orange',
 'orange',
 'cherry',
 'blueberry',
 'cherry',
 'blueberry']

In [20]:
fruits.count("orange")

3

In [21]:
fruits.index("cherry")

5

In [22]:
fruits.clear()
fruits

In [24]:
fruits = ["cherry", "blueberry"]

In [28]:
fruits2 = fruits.copy()   # by value
fruits

['cherry', 'blueberry']

In [27]:
fruits2

['cherry', 'blueberry']

In [29]:
fruits3 = fruits   # by reference

In [30]:
fruits3

['cherry', 'blueberry']

In [32]:
fruits.append("strawberry")
fruits3

['cherry', 'blueberry', 'strawberry', 'strawberry']

In [33]:
fruits2

['cherry', 'blueberry']

In [56]:
fruits = fruits + ['strawberry', 'grapes']
fruits

['cherry', 'blueberry', 'strawberry', 'strawberry', 'strawberry', 'grapes']

In [34]:
# removing an item from a list (del, remove, pop)
del fruits2[1]
fruits2

['cherry']

In [36]:
fruits2.remove("cherry")
fruits2

[]

In [37]:
cities

['Rawalpindi', 'Multan', 'Lahore', 'Karachi']

In [43]:
city = cities.pop()
print(f"This city is popped from list {city}")
print(f"The remaining cities are {cities}")

IndexError: pop from empty list

In [44]:
cities = ['Rawalpindi', 'Multan', 'Lahore', 'Karachi']

In [46]:
city = cities.pop(2)
city

'Lahore'

In [47]:
cities.sort()
cities

['Multan', 'Rawalpindi']

In [53]:
cities.sort(reverse = True)
cities

['Rawalpindi', 'Multan']

In [54]:
cities.reverse()
cities

['Multan', 'Rawalpindi']

### Slicing

In [60]:
# negative indexing
#              -6         -5       -4       -3     -2       -1 
students = ['Hamza', 'Fatima', 'Azhar', 'Laiba', 'Ali', 'Zoya']
print(students[1])

'Fatima'

In [58]:
# Retrieve more than one element from the list
print(students[-5])

Fatima

In [64]:
# students[start:end + 1]
students[1:2]

['Fatima']

In [63]:
students[1:3]

['Fatima', 'Azhar']

In [66]:
students[-5:-3]

['Fatima', 'Azhar']

In [67]:
students[:]

['Hamza', 'Fatima', 'Azhar', 'Laiba', 'Ali', 'Zoya']

In [68]:
students[3:]

['Laiba', 'Ali', 'Zoya']

In [69]:
students[:3]

['Hamza', 'Fatima', 'Azhar']

In [70]:
students[2:-1]

['Azhar', 'Laiba', 'Ali']

In [71]:
students[2:-5]

[]

In [72]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [73]:
# [start:end:step]
nums[0:16:1]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [74]:
nums[0:16:2]

[1, 3, 5, 7, 9, 11, 13, 15]

In [75]:
nums[::5]

[1, 6, 11, 16]

In [78]:
nums
del nums[2:5]
nums

[1, 2, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]