### Evaluate an expression to identify the data type Python will assign to each variable
Identify str, int, float, and bool data types

In [1]:
a = 23
a

23

In [2]:
# You can pass any value, variable
type(a)

int

In [3]:
type(23)

int

In [4]:
a = 24.6

In [5]:
type(a)

float

In [6]:
a = "24"
type(a)

str

In [7]:
a = '24'
type(a)

str

In [8]:
type(True)

bool

In [9]:
type(False)

bool

In [13]:
name = "Abdul Fatir"
type(name)

str

In [14]:
#            0       1      2   3
names = ["Umar", "Fatima", 12, True]
#         -4        -3     -2  -1
type(names)

list

In [15]:
t = (2, "adsad", "asdad")
type(t)

tuple

In [16]:
d = {
        "first_name": "Abdul",
        "last_name": "Fatir"
    }
type(d)

dict

In [17]:
a = {"A", "A", "C", "B", "A"}
a

{'A', 'B', 'C'}

In [18]:
type(a)

set

###  Perform data and data type operations
Convert from one data type to another type; construct data structures; perform indexing and slicing operations

In [20]:
a = "23"
print(type(a))

# Overloading
a = int(a)
print(type(a))

a = float(a)
print(type(a))

<class 'str'>
<class 'int'>
<class 'float'>

In [21]:
a = "23.4"
print(type(a))

# Conversion won't work as the string value is a float value
# a = int(a)
a = float(a)
print(type(a))

# float can be converted into int
a = int(a)
print(type(a))

<class 'str'>
<class 'float'>
<class 'int'>

In [22]:
a = "23.4 abdul"
print(type(a))

# Conversion won't work as the alphanumeric value cannot be converted to a float value
a = float(a)
print(type(a))

# Conversion won't work as the alphanumeric value cannot be converted to an int value
a = int(a)
print(type(a))

<class 'str'>

ValueError: could not convert string to float: '23.4 abdul'

In [24]:
l = ["A", "B", "C", "D", "E"]
l

['A', 'B', 'C', 'D', 'E']

In [25]:
# capital alphabets = 65 - 90
# small alphabets = 97-122
chr(65)

'A'

In [28]:
l2 = list(map(chr, range(65, 91)))
l2

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [29]:
#     0    1    2    3    4
l = ["A", "B", "C", "D", "E"]
#    -5   -4   -3   -2   -1

In [30]:
print(l[2])
print(l[-3])

C
C

In [31]:
# 'start' is inclusive
# 'end' is exclusive
# 'step' is sequence
# list[start:end:step]
print(l)

['A', 'B', 'C', 'D', 'E']

In [34]:
print(l[1:4])
print(l[-4:-1])

# By using step
print(l[1:4:1])
print(l[-4:-1:1])

['B', 'C', 'D']
['B', 'C', 'D']
['B', 'C', 'D']
['B', 'C', 'D']

In [35]:
# reverse
print(l)
print(l[::-1])

['A', 'B', 'C', 'D', 'E']
['E', 'D', 'C', 'B', 'A']

In [36]:
print(l)
print(l[::2])

['A', 'B', 'C', 'D', 'E']
['A', 'C', 'E']

In [37]:
print(l[1:])

['B', 'C', 'D', 'E']

In [7]:
import datetime
import time

In [12]:
def get_time():
    dts = datetime.datetime.utcnow()
    print(dts)
    print(dts.timetuple())
    print(time.mktime(dts.timetuple()))
    print(dts.microsecond)
    print(dts.microsecond/1e6)
    return round(time.mktime(dts.timetuple()) + dts.microsecond/1e6)

In [16]:
timestamp = get_time()
timestamp

2020-07-01 13:21:06.236704
time.struct_time(tm_year=2020, tm_mon=7, tm_mday=1, tm_hour=13, tm_min=21, tm_sec=6, tm_wday=2, tm_yday=183, tm_isdst=-1)
1593606066.0
236704
0.236704

1593606066

In [17]:
timestamp = get_time()
timestamp * 1000

2020-07-01 13:21:07.680046
time.struct_time(tm_year=2020, tm_mon=7, tm_mday=1, tm_hour=13, tm_min=21, tm_sec=7, tm_wday=2, tm_yday=183, tm_isdst=-1)
1593606067.0
680046
0.680046

1593606068000

In [18]:
int(round(time.time() * 1000))

1593609668252